<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.munifahsan.moodq">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".Ilu7Activity" />
        <activity android:name=".Ilu6Activity" />
        <activity android:name=".Ilu5Activity" />
        <activity android:name=".Ilu4Activity" />
        <activity android:name=".Ilu3Activity" />
        <activity android:name=".Ilu2Activity" />
        <activity android:name=".Ilu1Activity" />
        <activity android:name=".SpalshScreeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>